:root {
	--veryLightGrayishBlue: hsl(240, 78%, 98%);
	--lightGrayishBlue: hsl(234, 14%, 74%);
	--grayishBlue: hsl(233, 13%, 49%);
	--darkGrayishBlue: hsl(232, 13%, 33%);
}

html {
	font-size: 100%;
	box-sizing: border-box;
	overflow-x: hidden;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}
body {
	position: relative;
	margin: 0;
	padding: 0;
	font-size: 0.9375rem;
	font-weight: 700;
	color: var(--darkGrayishBlue);
	font-family: "Montserrat", sans-serif;
	overflow-x: hidden;
	background-image: url(./images/bg-top.svg);
	background-position: 150px -30px;
	background-size: 475px 667px;
	background-repeat: no-repeat;
	background-color: var(--veryLightGrayishBlue);
}
.flex {
	display: flex;
}

section {
	margin-top: 4.375rem;
}

h1 {
	margin: 0;
	color: var(--darkGrayishBlue);
	text-align: center;
	font-size: 2.125rem;
	margin-bottom: 2.625rem;
}

/* toggle btn */
.toggle {
	margin: 0 auto 5rem;
	position: relative;
	display: block;
	width: 56px;
	height: 32px;
	background: linear-gradient(90deg, rgb(163, 168, 240), rgb(105, 111, 221));
	border-radius: 30px;
	border: none;
}

/* after slide changes */
.toggle:after {
	content: "";
	position: absolute;
	width: 24px;
	height: 24px;
	border-radius: 50%;
	background: #fff;
	top: 4px;
	left: 4px;
	transition: all 0.5s;
}

/* checkbox checked effect */
.checkbox:checked + .toggle::after {
	left: 28px;
}

/* checkbox checked toggle label bg color */
.checkbox:checked + .toggle {
	background: linear-gradient(90deg, rgb(163, 168, 240), rgb(105, 111, 221));
}

/* checkbox vanished */
.checkbox {
	display: none;
}

/* text around toggle btn */
.toggle span::after,
.toggle span::before{
   color: var(--lightGrayishBlue);
   line-height: 2;
}
.toggle span::before{
   content: 'Annually';
   margin-left: -90px;
}
.toggle span::after{
   content: 'Monthly';
   margin-left:95px;
}

/* card css */
.pricing-cont {
	margin-bottom: 4.375rem;
}

.card {
	width: 20.4375rem;
	margin: 0 auto 2rem;
	padding: 2.1875rem 1.875rem 1.9375rem;
	text-align: center;
	min-height: 28.3125rem;
	border-radius: 10px;
	background-color: #fff;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.085);
}

.card-price::before {
	content: "$";
	font-size: 2rem;
	vertical-align: 20%;
	padding-right: 0.375rem;
}

h3 {
	color: var(--grayishBlue);
	margin: 0 0 2rem 0;
}

.card-price,
.card-price:after {
	font-size: 3.375rem;
	margin: 0 0 2rem 0;
}

/*  - - - - - - - - -  */
/* Page content change on toggle btn click */

/* basic */
input[type="checkbox"]:checked ~ .pricing-cont .priceBasic::after {
	content: attr(data-price-month-basic);
}
input[type="checkbox"] ~ .pricing-cont .priceBasic::after {
	content: attr(data-price-year-basic);
}

/* pro */
input[type="checkbox"]:checked ~ .pricing-cont .pricePro::after {
	content: attr(data-price-month-pro);
}
input[type="checkbox"] ~ .pricing-cont .pricePro::after {
	content: attr(data-price-year-pro);
}

/* master */
input[type="checkbox"]:checked ~ .pricing-cont .priceMaster::after {
	content: attr(data-price-month-master);
}
input[type="checkbox"] ~ .pricing-cont .priceMaster::after {
	content: attr(data-price-year-master);
}
/*  - - - - - - - - - -  */

.card-text {
	color: var(--grayishBlue);
	margin: 0;
	padding: 1.25rem 0;
}
.card .card-text {
	border-top: 1px solid var(--lightGrayishBlue);
}
.card .card-text:nth-child(5) {
	border-bottom: 1px solid var(--lightGrayishBlue);
	margin-bottom: 2rem;
}

.learn-more {
	width: 100%;
	border: none;
	background: linear-gradient(90deg, rgb(163, 168, 240), rgb(105, 111, 221));
	padding: 1.125rem 0;
	border-radius: 7px;
	text-transform: uppercase;
	letter-spacing: 0.125rem;
	color: #fff;
	font-weight: 700;
	font-family: "Montserrat", sans-serif;
}

/* middle card */
.card2 {
	background: linear-gradient(rgb(163, 168, 240), rgb(105, 111, 221));
}
.card2 h3,
.card2 p {
	color: #fff;
}
.card2 .learn-more {
	background: #fff;
	color: rgb(105, 111, 221);
}

/* CREDITS */
.attribution {
	position: absolute;
	bottom: 1.25rem;
	left: 50%;
	transform: translateX(-50%);
}
a,
a:visited {
	text-decoration: none;
	color: #2196f3;
	transition: color 0.2s ease-in-out;
}
a:hover {
	color: tomato;
}
